<!DOCTYPE html>
<html lang="ja">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B! (2007$BG/(B4$B7n(B)</title>
<link rel="contents" href="list" title="$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!$B$r=q$$$?7n$N0lMw(B">
<link rel="prev" href="d200703" title="$BA07n$N%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!">
<link rel="next" href="d200705" title="$BMb7n$N%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!">
<link rel="alternate" href="d200704.ja.atom"
    hreflang="ja" type="application/atom+xml">
<link rel="contents" href="d200704+summary" title="$B:#7n$NOCBj0lMw(B">
<link rel="bookmark" href="current" title="$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B! ($B:G?7HG(B)">
<link rel="bookmark" href="d200704" title="$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B! (2007$BG/(B4$B7n(B)">
<link rel="stylesheet"
      href="/~wakaba/d/style/default.css" type="text/css" media="all">
<link rel="alternate stylesheet" 
      href="/~wakaba/d/style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B">
<link rel="alternate stylesheet"
      href="/~wakaba/d/style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B">
<link rel="alternate stylesheet"
      href="/~wakaba/d/style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B">
<link rel="stylesheet"
      href="/~wakaba/d/style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?">
<link rel="alternate stylesheet"
      href="/~wakaba/d/style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B">
<link rel="alternate stylesheet"
      href="/~wakaba/d/fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B">
</head>
<body>
<div class="header">
<h1>$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B! (2007$BG/(B4$B7n(B)</h1>

<div id="intro" class="navigation">
[$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!
  (<a href="list" rel="contents" title="$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!$B$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   [<a href="current.ja.html" title="$B:G?7$NF|5-(B (HTML)" lang="en"
        hreflang="ja" type="text/html">HTML</a>,
    <a href="current.ja.atom" title="$B:G?7$NF|5-(B (Atom)" lang="en"
        hreflang="ja" type="application/atom+xml">Atom</a>])]
</div>

</div><!-- header -->
<div id="d30" class=" body section">
       <h2><a href="/~wakaba/d/d200704#d30" class="self"
       >2007$BG/(B4$B7n(B30$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d30-1" class=" section">
<h3><a href="#d30-1" class="self">$B!y(B</a> $B%1!<%?%$$NDLOC;~4V(B (@20:49 +09:00)</h3>
<p>$B$"$H(B46$BJ,$G(B24$B;~4VOC$7$?$3$H$K$J$k$h!#$3$N%1!<%?%$$+$C$F$+$i(B16$B%v7n$G(B23$B;~4V$0$i$$$7$+$7$c$Y$C$F$J$$$3$H$K$J$k$1$I!#F#!;$O(B1$B%v7n$G(B24$B;~4V$7$c$Y$C$F$k$_$?$$$@$+$i!"$9$4$$$h$M!#$I$&$d$C$?$i$=$s$J$K$7$c$Y$l$k$s$d$m(B?$B$o$+$P$KJ9$$$F$_$h$&$C$H!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
        <input type="hidden" name="date" value="2007, 4, 30">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
<!--        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]-->
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F4%2F%2F30" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F4%2F%2F30" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d17" class=" body section">
       <h2><a href="/~wakaba/d/d200704#d17" class="self"
       >2007$BG/(B4$B7n(B17$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d17-1" class=" section">
<h3><a href="#d17-1" class="self">$B!y(B</a> $B$I$&$K$+$J$i$s$b$s$+$J(B? (@00:37 +09:00)</h3>
<p>$B%U%m%0:F3+$7$?$H;W$C$?$i!"$$$D$b$N<+K}OC$+$i;O$^$k$s$@$M!D$"$l$r$I$&$K$+$7$F$[$7$$$M!#M'C#>/$J$$$+$i$I$&$H$+8@$C$F$?$1$I!"$3$N<+K}$9$k$3$H$r$d$a$l$P>/$7$O$h$/$J$k$s$8$c$J$$$N(B?</p><p>$BM'C#(B0$B?M$N$N$i$/$m$,8@$C$F$b@bF@NO$J$$$1$I$M!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
        <input type="hidden" name="date" value="2007, 4, 17">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
<!--        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]-->
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F4%2F%2F17" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F4%2F%2F17" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d9" class=" body section">
       <h2><a href="/~wakaba/d/d200704#d09" class="self"
       >2007$BG/(B4$B7n(B9$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d9-1" class=" section">
<h3><a href="#d9-1" class="self">$B!y(B</a> $B%U%m%0I|3h$7$^$7$?(B! (@01:00 +09:00)</h3>
<p>$BF#!;$O$J$s$+$N$s$S$j$7$F$k$_$?$$$@$1$I!"$3$C$A$O:#F|$+$i<x6H;O$^$s$M$s(B!$BH`=w$dM'C#$HJL$l$?$+$i$I$&$N$3$&$N$C$F%U%m%0$K=q$$$F$?$1$I!"$=$s$JBg;v$K$9$kI,MW$"$k(B?$B$J$s$+:Y$+$$?t;z$@$7$F$?$1$I!"$"$l$$$k$s$+$J(B?$B$o$+$P$KJ9$$$F$_$h$&$C$H!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
        <input type="hidden" name="date" value="2007, 4, 9">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
<!--        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]-->
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F4%2F%2F9" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F4%2F%2F9" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d6" class=" body section">
       <h2><a href="/~wakaba/d/d200704#d06" class="self"
       >2007$BG/(B4$B7n(B6$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d6-1" class=" section">
<h3><a href="#d6-1" class="self">$B!y(B</a> $B%U%m%099?7$7$F$J$$$h$M(B? (@23:55 +09:00)</h3>
<p>$B%*%s%i%$%s$K$9$k$/$;$KF|5-$+$+$J$$$s$@$M!#$J$K$d$C$F$s$N!"$"$$$D!#:G?7$N5-;v$h$a$J$$$s$G$9$1$I!#$J$s$F$+$$$F$"$s$N(B?$B%?%$%H%k$K(Btest$B$C$F=q$+$l$F$k$1$I!"K\J8$o$+$i$X$s$G!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
        <input type="hidden" name="date" value="2007, 4, 6">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
<!--        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]-->
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F4%2F%2F6" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F4%2F%2F6" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200703">$BA07n(B</a>,
 <a rel="next" href="d200705">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
