<!DOCTYPE html>
<html lang="ja">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B! (2008$BG/(B1$B7n(B)</title>
<link rel="contents" href="list" title="$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!$B$r=q$$$?7n$N0lMw(B">
<link rel="prev" href="d200712" title="$BA07n$N%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!">
<link rel="next" href="d200802" title="$BMb7n$N%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!">
<link rel="alternate" href="d200801.ja.atom"
    hreflang="ja" type="application/atom+xml">
<link rel="contents" href="d200801+summary" title="$B:#7n$NOCBj0lMw(B">
<link rel="bookmark" href="current" title="$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B! ($B:G?7HG(B)">
<link rel="bookmark" href="d200801" title="$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B! (2008$BG/(B1$B7n(B)">
<link rel="stylesheet"
      href="/~wakaba/d/style/default.css" type="text/css" media="all">
<link rel="alternate stylesheet" 
      href="/~wakaba/d/style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B">
<link rel="alternate stylesheet"
      href="/~wakaba/d/style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B">
<link rel="alternate stylesheet"
      href="/~wakaba/d/style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B">
<link rel="stylesheet"
      href="/~wakaba/d/style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?">
<link rel="alternate stylesheet"
      href="/~wakaba/d/style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B">
<link rel="alternate stylesheet"
      href="/~wakaba/d/fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B">
</head>
<body>
<div class="header">
<h1>$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B! (2008$BG/(B1$B7n(B)</h1>

<div id="intro" class="navigation">
[$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!
  (<a href="list" rel="contents" title="$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!$B$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   [<a href="current.ja.html" title="$B:G?7$NF|5-(B (HTML)" lang="en"
        hreflang="ja" type="text/html">HTML</a>,
    <a href="current.ja.atom" title="$B:G?7$NF|5-(B (Atom)" lang="en"
        hreflang="ja" type="application/atom+xml">Atom</a>])]
</div>

</div><!-- header -->
<div id="d5" class=" body section">
       <h2><a href="/~wakaba/d/d200801#d05" class="self"
       >2008$BG/(B1$B7n(B5$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d5-1" class=" section">
<h3><a href="#d5-1" class="self">$B!y(B</a> $B?7G/$*$a$G$H$&(B (@14:35 +09:00)</h3>
<p>$BF#!;$N(B2008$BG/:G=i$N%M%?(B</p><p>$B>:N67}GHF07};VB<$1$s>>J?7r%H%_!<%:7r%J%*%38&<R2q$K9W8%5-<T2q8+$*BpGR8+$b$&0l8.(B</p><p>$B$J$<$+:#G/$O!V$1$s!W$r;H$$$?$$$_$?$$!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
        <input type="hidden" name="date" value="2008, 1, 5">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
<!--        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]-->
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F1%2F%2F5" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F1%2F%2F5" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$B%U%m%0$KBP93$9$k$?$a$K=q$$$F$kF|5-(B!
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200712">$BA07n(B</a>,
 <a rel="next" href="d200802">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
